<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Add Faculty</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</head>

<body style="background-color: #9ab5cf;">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #0b345e;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DSCE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            AICTE
                        </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/aictecircular">Circular</a></li>
                            <li><a class="dropdown-item" href="/aicteapproval">Approval Letters</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            VTU
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/vtucircular">Circular</a></li>
                            <li><a class="dropdown-item" href="/vtuapproval">Approval Letters</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          NBA
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="/nbacircular">Circular</a></li>
                          <li><a class="dropdown-item" href="/nbacriteria">Criteria Files</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          NAAC
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="/naaccircular">Circular</a></li>
                          <li><a class="dropdown-item" href="/naaccriteria">Criteria Files</a></li>
                        </ul>
                      </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            NIRF
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/nirf">Reports</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Industry Collaboration
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/mous">MOU'S</a></li>
                            <li><a class="dropdown-item" href="/internship">Internship's</a></li>
                            <li><a class="dropdown-item" href="/consult">Consultancy Files</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Alumni
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/alumni">Alumni Details</a></li>
                            <li><a class="dropdown-item" href="#">Higher Study Details</a></li>
                            <li><a class="dropdown-item" href="#">Alumni Scholarship</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Student Club Activities
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Circular</a></li>
                            <li><a class="dropdown-item" href="#">Extra Curricular Activities</a></li>
                            <li><a class="dropdown-item" href="#">Student Achievements</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Placement
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/placementcircular">Placement Circular</a></li>
                            <li><a class="dropdown-item" href="/studentofferletter">Placed Student Offer Letter</a></li>
                            <li><a class="dropdown-item" href="/ppacircular">Pre Placement Activities</a></li>
                            <li><a class="dropdown-item" href="/unplaced">Unplaced Student Details</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Faculty
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/addfaculty">Faculty Profile</a></li>
                            <li><a class="dropdown-item" href="/addfacultycertificate">Faculty Certificates</a></li>
                            <li><a class="dropdown-item" href="/fdpcertificate">FDP Certficates</a></li>
                            <li><a class="dropdown-item" href="/fachievement">Faculty Achievements</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Research
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Research Proposal</a></li>
                            <li><a class="dropdown-item" href="#">Phd Faculty Registration</a></li>
                            <li><a class="dropdown-item" href="#">Faculty/Student Publications</a></li>
                            <li><a class="dropdown-item" href="#">Faculty Research Profile</a></li>
                            <li><a class="dropdown-item" href="#">Funded Project</a></li>
                            <li><a class="dropdown-item" href="#">Innovation Lab</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-sm position-relative border border-muted border border-3 w-75  mb-3 p-3 ps-5 pe-5"
        style="margin-top:80px; background-color: white;">
        <form action="/newfaculty" method="POST" class="row g-3 form-container" enctype="multipart/form-data">
        <h3 style="text-align: center;">Add Faculty</h3>
        <div class="mb-3">
            <label for="ii" class="form-label">Name</label>
            <input id="ii" name="facultyname" class="form-control" type="text" placeholder="Default input"
                aria-label="default input example">
        </div>        
        <div class="mb-3">
            <label for="ii" class="form-label">Faculty ID</label>
            <input id="ii" name="facultyid" class="form-control" type="text" placeholder="Default input"
                aria-label="default input example">
        </div>
        <div class="mb-3">
            <label for="ii" class="form-label">Mobile Number</label>
            <input id="ii" name="facultyphone"  class="form-control" type="text" placeholder="Default input"
                aria-label="default input example">
        </div>
        <div class="mb-3">
            <label for="ii" class="form-label">E-mail</label>
            <input id="ii" name="facultymail"  class="form-control" type="email" placeholder="Default input"
                aria-label="default input example">
        </div>
        <div class="mb-3">
            <label for="kk" class="form-label">Designation</label>
            <select class="form-select" name="picker" aria-label="Default select example" id="kk">
                <option selected>Select</option>
                <option value="Proffesor">Proffesor</option>
                <option value="Associate Proffesor">Associate Proffessor</option>
                <option value="Lab Assistant">Lab Assistant</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Offer Letter</label>
            <input class="form-control" name="facultyletter" type="file" id="formFile">
        </div>
        <button type="submit"
            class="btn btn-primary position-relative start-50 botttom-0 translate-middle-x">Upload</button>
        </form>
    </div>

    <div class="container-fluid w-50 mb-3">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    <table class="table table-light table-striped table-hover table-bordered w-75 m-auto mb-4" id="abc">
        <thead>
            <tr>
                <th scope="col">SL</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">View</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <% var i = 1%>
            <% for (let zg of zgs) { %>
        <form action="/facultydelete" method="POST" class="row g-3 form-container">
            <tr>
                <th scope="row"><%=i++%></th>
                <td><%= zg.fname%></td>
                <td><%= zg.fdesignation%></td>
                <input type="hidden" id="ad" name="cname" value="<%=zg.fid%>">
                <td><a href="/facultyprofile/<%=zg.fid%>" button type="button" class="btn btn-success btn-sm">View</a></td>
                <td><button type="submit"class="btn btn-danger btn-sm">delete</button></td>
            </tr>
        </form>
            <% } %>
        </tbody>
    </table>

</body>

</html>